<div class="container" style="padding: 25px;">
   <div class="row">
     <div class="col-md-6 col-md-offset-3">
        <h1><%= @task.title %></h1>
        <h2><em>Details:</em> <%= @task.details %></h2>
        <h2><em>Completed:</em> <%= @task.completed %></h2>
     </div>
   </div>
